body {
  font-family: Arial, Arial, Helvetica, sans-serif;
  background: #27292c;
  color: white;
}

h1 {
  margin-top: 30px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
}

.container {
    margin: 45px 40px;
}

.mainContent {
  padding: 0px 20px;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav-list-item {
  margin-left: 10px;
  font-size: 1.1rem;
}

.nav-logo {
  width: 55px;
}

/* Footer */
.footer {
  display: flex;
  width: 100;
  background: #000;
}